<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484944670735-s9uvq07rjto5h9gntkvcadml7fec9p0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484944670735-s9uvq07rjto5h9gntkvcadml7fec9p0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBMkSOjuqpQYidlsRJnEJPMobbl1TZ1XhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>484944670735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youkou.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-98686</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-98686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484944670735:ios:67b0a14b3a08215c68f37a</string>
</dict>
</plist>